@import "tailwindcss";

@theme {
    --font-sans: "Inter", "Vazirmatn", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@custom-variant dark (&:where(.dark, .dark *));

[x-cloak] {
    display: none !important;
}